---
import Layout from "../layouts/Layout.astro"
---

<Layout
	title="Welcome"
	description="This is DTSky Webpage with all its documentation. DTSky is a Free and OpenSource React Components Library built by Diego Teileche (Diego Tech)."
>
	<main>
		<h1>Diego</h1>
	</main>
</Layout>
