---
import { twMerge } from "tailwind-merge"

const { className } = Astro.props
---

<div
	class={twMerge(
		"relative flex h-full w-full items-center justify-center rounded-lg bg-gradient-to-br from-[rgba(5,23,50,1)] via-[rgba(4,61,135,1)] to-[rgba(5,23,50,1)] py-20 before:absolute before:-inset-0.5 before:-z-10 before:rounded-lg before:bg-gradient-to-r before:from-[rgba(4,61,135,0.5)] before:via-[rgba(5,23,50,1)] before:to-[rgba(4,61,135,0.5)] lg:col-span-4",
		className
	)}
>
	<slot />
</div>
