---
import Button from "@components/Button"
---

<footer class="flex h-20 w-full items-center border-t border-neutral-500">
	<div class="container">
		<div class="flex items-center justify-between">
			<div class="size-14">
				<img src="/logo-dtsky.webp" alt="DTSky Logo" />
			</div>

			<div class="flex items-center gap-4">
				<Button
					text="Github"
					href="https://github.com/diego-teileche/DTSky"
					target="_blank"
				/>
				<Button
					text="NPM Package"
					href="https://www.npmjs.com/package/dtsky"
					target="_blank"
				/>
			</div>
		</div>
	</div>
</footer>
