---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={`${description} | DTsky - Diego Teileche (Diego Tech)`}
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/dtsky-logo.webp" />
		<meta name="author" content="Diego Teileche - Diego Tech" />
		<meta
			name="keywords"
			content="React.js, React, Front-End, Web Development, App Development, Web Developer, Apps Developer, Front-End Developer, Next.js, Javascript, HTML, CSS, Desarrollador Web, Diego Tech, Diego Teileche"
		/>
		<title>{title} | DTSky</title>
	</head>
	<body class="bg-[#0f0f0f] text-[#f0f0f0]">
		<slot />
	</body>
</html>
